@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 1200px){
    main{
        width: 90%;
    }
    span#burg{
        display: none;
    }
    menu ul li{
        display: inline-block;
    }
}
